# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2021-2022 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

# to use utila in nightly properly TODO: REMOVE LATER?
utilatest>=0.12.3<1.0.0
# utilasafe>=0.4.0<1.0.0 # ENABLE LATER

# baw --test
pytest==6.2.4
pytest_cov==2.11.1
pytest_instafail==0.4.2
pytest_localserver==0.5.0
pytest_timeout==1.4.2
pytest_xdist==2.1.0

# TODO: Helmut's custom version. Replace with official release.
python-semantic-release==4.1.2
# TODO: HELMUT ALSO
setuptools==50.3.2

# create venv environment
virtualenv==20.4.6

rope==0.10.7

yapf==0.32.0            # format source code
isort==5.8.0            # format imports

pylint==2.8.2

bandit==1.7.0 # show secury issues

pyenchant==3.2.0  # spelling
