# =============================================================================
# C O P Y R I G H T
# -----------------------------------------------------------------------------
# Copyright (c) 2021 by Helmut Konrad Fahrendholz. All rights reserved.
# This file is property of Helmut Konrad Fahrendholz. Any unauthorized copy,
# use or distribution is an offensive act against international law and may
# be prosecuted under federal law. Its content is company confidential.
# =============================================================================

# baw --test
pytest==6.1.2
pytest-cov==2.6.1
pytest-xdist==2.1.0
pytest-instafail==0.4.2
pytest_timeout==1.4.2

# TODO: Helmut's custom version. Replace with official release.
python-semantic-release==4.1.2

# create virtual environment
virtualenv==20.4.6

rope==0.10.7

yapf==0.31.0 # format source code
isort==4.3.15 # format imports

pylint==2.8.2

bandit==1.7.0 # show secury issues
