# Folder
**.pytest_cache**
**__pycache__**
**build**
**generated**
.eggs/**
.tmp
.virtual
.vscode/**
dist
tmp

# Files
*.cache
*.egg-info
*.exe.stackdump
*.log
*.pyc
*.save
*.swn
*.swo
*.swp
.coverage*

# Documentation
docs/conf.py
docs/doctrees/**
docs/html/**
docs/.tmp/**
