# Folder
**.pytest_cache**
**__pycache__**
/build/
/generated/
.eggs/**
.pylint.d
.local
.requirements.txt
.tmp
.venv
.vscode/**
dist
tmp

# Files
*.cache
*.egg-info
*.exe.stackdump
*.log
*.pyc
*.save
*.swn
*.swo
*.swp
*.tmp
..code-workspace
.coverage*
setup.cfg
pytest.ini
report.xml
# vscode tmp file
*.py.*.py

# Documentation
docs/conf.py
docs/doctrees/**
docs/html/**
docs/.tmp/**
