name: tests

on:
  push:
    branches:
      - '*'

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build docker container
      run: make docker-build

  doctest:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: run doctest
      run: make docker-doctest

  fasttest:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v4
    - name: run fasttest
      run: make docker-fasttest
